.ringLabels {
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .ringLabels {
    display: none;
  }
}

.line {
  transition: opacity 0.3s ease;
  opacity: 1;
}
.line.hidden {
  opacity: 0;
}
